*{
	margin: 0;
}
body{
	overflow: hidden;
}
ul{
	list-style-type: none;
	margin-top: 5px;
	padding: 0;
}
li{
	display: block;
	list-style-type: none;
}
hr{
	width: 15px;
	margin-left: 0px;
}
div{
	padding: 10px;
}
#zone_dessin canvas{
	border: 1px solid #000;
	background-color: #fff;
}
.selected{
	border: 2px solid #ff0;
}
.fa{
	margin-left: 1px;
}	
#palette{
	background-color: #ddd;
	width: 22px;
	border-radius: 10px;
}
#tools li{
	background-color: #ddd;
}
#colors li{
	background-color: red;
	padding: 6px;
	margin-top: 4px;
	width: 4px;
}
#tools li:hover, #colors li:hover{
	border: 2px solid #ff0;
	cursor: pointer;
}